.App {
	text-align: center;
	height: 100%;
}

body,
html {
	height: 100%;
}

#root {
	height: 100%;
}

div.container {
	opacity: 90%;
	padding: 15%;
}

/* .errors {
	color: red;
}

.input {
	margin: 2% 0 2% 10%;
} */

/*  HEADER STYLES */
.hide{
  display: none;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 50px;
	padding-top: 30px;
	width: 100%;
	padding-right: 80px;
}

/*  HEADER STYLES */

/*  POSTS STYLES */

.image-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	height: 80%;
	justify-content: space-around;
}

.image-container img {
	height: 300px;
	width: 400px;
}

/*  POSTS STYLES */

/* Create a Post Button STYLES */
button.createPostButton {
	position: absolute;
	top: 55px;
	right: 50px;
}

/* MIGHT BE DUPLICATE 
.createPostButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5%;
  margin-bottom: 1%;
  margin-right: 2.5%;
}
*/

.createPostText {
	margin-right: 1%;
}

/* create-post styling */

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
