.post-card{
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.post-card a{
    text-decoration: none;
}

.post{
    margin: 20px;
    padding: 5px;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(200,200,200);
}

.post h2{
    font-weight: bold;
}