.post-card{
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.post-card a{
    text-decoration: none;
}

div.post{
    margin: 20px;
    padding: 5px;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    transition: all .2s linear;
}

.post:hover{
    border: 1px solid rgb(16, 113, 138);
}

.post h2{
    font-weight: bold;
}