.post-card{
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}



.post-card a{
    text-decoration: none;
}

div.post{
    margin: 20px;
    padding: 5px;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    transition: all .2s linear;
}

div.post h2 {
    color: black;
    padding-bottom: 10px;
}

div.post p {
    padding-top: 10px;
}

.post:hover{
    border: 1px solid rgb(16, 113, 138);
}

.post h2{
    font-weight: bold;
}

/* Individual Post Styles */

.singlePost {
    padding-top: 50px;
    padding-bottom: 40px;
}
.singlePost h2 {
    font-size: 3rem;
    padding-bottom: 30px;
}

.singlePost p {
    font-size: 2.5rem;
    padding-top: 20px;
    
}

/* Edit Post Button */

svg.editPostButton {
    color: black;
    font-size: 5rem;
}

.editPostButton p {
    color: black;
}

.editLink {
    text-decoration: none;
}

.editButtonText {
    color: black;
    font-size: 2rem;
    
}